.heading_text{
    font-family: Roboto;
    font-size:60px;
    
    color:white;
    
}

.normal_text{
    color:#d2ecff;
    font-size: 18px;
}

.circular_button{
    border: 2px solid white;
    border-radius:50px;
    color:white;
    font-size: 18px;
    padding:10px 20px 10px 20px;
    background:none;
    transition: 0.5s;
}

.circular_button:hover{
    border: 2px solid white;
    border-radius:50px;
    color:#173d7b;
    font-size: 20px;
    padding:15px 25px 15px 25px;
    background:white;
    animation-timing-function: ease;
    animation-duration: 2s;
}