<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="/assets/css/basic.css" rel="stylesheet"/>
    <link href="/assets/css/login.css" rel="stylesheet"/>
</head>
<body>
    <div class="container-fluid full" >
        <div class="row" style="width:100%">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="card_login" style="width:100%;background-color: white;">
                    <form  method="POST" action="{% url 'profile' %}">
                        {% csrf_token %}
                        <div>
                            <p style="text-align:center; font-size: 30px; font-weight: bold;color:#173d7b"> Login </p>
                        </div>
                        <div style="width: 100%;">
                            <label for="username_login" class="form-label">Username</label>
                            <input name="username_login" type="text" class="form-control" id="username_login" style="width:100% ;">                   
                        </div>
                        <br/>
                        <div >
                            <label for="password_login" class="form-label">Password</label>
                            <input name="password_login" type="password" class="form-control" id="password_login">
                        </div>
                        <br/>
                        <div class="center-it">
                            <div>
                                <button name="login_btn" type="submit" class="login_button">Login</button>
                            </div>
                            
                        </div>
                        <br/>
                        <div class="center-it">
                            <div>
                                <a href="{% url 'signup' %}" class="sign_up_link_login" style="text-align: center;"> Do not have an account? <b>SignUp</b></a>
                            </div>
                        </div>
                        
                        
                    </form>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>